@media(max-width: 1440px){
    body{
        padding: 0 40px;
    }
}

@media(max-width: 375px){

    .card{
        max-width: 320px;
        padding: 16px;
    }


    body{
        padding: 40px;
    }
}