@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    Font-size: 0.9375rem;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cartao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    gap: 25px;
    border-radius: 10px;
    margin: 20px;
    min-height: 80vh;
    max-width: 320px;
    padding: 16px;
}

.cartao .conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.cartao .conteudo img{
    max-width: 100%;
    border-radius: 10px;
    margin: 4%; 
}

.cartao .conteudo h1{
    font-size: 0.9375rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-weight: 700;
    text-align: center;
}

.cartao .conteudo p{
    text-align: center;
    margin: 5px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}